.header {
    display: flex;
    height: 5vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgb(150, 150, 150, 0.33);
}

.logo {
    font-size: 1.5rem;
    font-family: "Krona One";
    color: var(--azul-escuro);
}

.logo::before {
    content: "<";
    font-weight: 800;
    font-size: 1.25rem;
    color: var(--azul-claro);
}

.logo::after {
    content: "/>";
    font-weight: 800;
    font-size: 1.25rem;
    color: var(--azul-claro);
}

.menu-hamburguer {
    background: url(../img/menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    display: block;
}

.header-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: var(--azul-claro);


    position: absolute;
    top: -50vh;
    right: 0;
    height: 47.5vh;
    width: 50vw;
    transition: .3s;
}

.active {
    top: 5vh;
}

.nav-list-item-link {
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .menu-hamburguer {
        display: none;
    }

    .header-nav-list {
        position: static;
        flex-direction: row;
        height: auto;
        background-color: white;
    }

    .nav-list-item-link {
        color: var(--azul-claro);
    }
}

@media screen and (min-width: 1024px) {
    .header {
        height: 8vh;
        justify-content: space-around;
    }

    .logo {
        font-size: 2rem;
    }

    .logo::before, .logo::after {
        font-size: 1.75rem;
    }

    .header-nav-list {
        width: auto;
        gap: 25px;
    }

    .nav-list-item-link {
        position: relative;
        transition: color 0.2s;
        font-weight: 500;
    }

    .nav-list-item-link:hover {
        color: var(--azul);
    }
    
    .nav-list-item-link::after {
        content: '';
        width: 0%;
        height: 1px;
        background: var(--azul);
      
        position: absolute;
        left: 0; 
        bottom: -0.3rem;
      
        transition: width 0.2s;
    }

    .nav-list-item-link:hover::after {
        width: 100%;
    }
}