.header {
    display: flex;
    height: 5vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    
}

.logo {
    font-size: 1.5rem;
    font-family: "Krona One";
    color: var(--azul-escuro);
}

.logo::before {
    content: "<";
    font-weight: 800;
    font-size: 1.25rem;
    color: var(--azul-claro);
}

.logo::after {
    content: "/>";
    font-weight: 800;
    font-size: 1.25rem;
    color: var(--azul-claro);
}

.menu-hamburguer {
    background: url(../img/menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    display: block;
}

.header-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: var(--azul-claro);
    border-radius: 5px;


    position: absolute;
    top: 5vh;
    right: 0;
    height: 47.5vh;
    width: 50vw;
    transform: translateX(100%);
    transition: .3s;
}

.active {
    transform: translateX(0%);
}

.nav-list-item-link {
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}


