.home {
    padding:0 1.5rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-title {
    font-size: 4rem;
    font-weight: 800;
    color: var(--azul-escuro);
    font-family: "Krona One";
}

.home-text {
    font-size: 1.25rem;
    font-family: "Poppins";
    font-weight: 500;
    color: var(--azul-claro);
    text-align: justify;
    margin-top: 15px;
}

.icon-home {
    display: none;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 24px;
}

@media screen and (min-width: 768px) {
    .icon-home {
        display: block;
        width: 250px;
    }

    .home {
        flex-direction: row;
        align-items: center;
    }


    .social-media {
        margin-top: 0;
    }
}