.home {
    padding:0 1.5rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-title {
    font-size: 4rem;
    font-weight: 800;
    color: var(--azul-escuro);
    font-family: "Krona One";
}

.home-text {
    font-size: 1.25rem;
    font-family: "Poppins";
    font-weight: 600;
    color: var(--azul-claro);
    text-align: justify;
    margin-top: 15px;
}

.icon-home {
    display: none;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 24px;
}

@media screen and (min-width: 768px) {
    .icon-home {
        display: block;
        width: 250px;
    }

    .home {
        flex-direction: row;
        align-items: center;
    }


    .social-media {
        margin-top: 0;
    }

    .social-media-item-link{
        transition: 0.2s;
        display: inline-block;
    }
    
    .social-media-item-link:hover {
        transform: translateY(-8px);
    }
}

@media screen and (min-width: 1024px) {
    .home {
        height: 75vh;
    }
    .home-content {
        width: calc(50% - 48px);
        padding-left: 30px;
    }

    .home-container-icon {
        width: calc(50% - 48px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon-home {
        width: 350px;
    }
}