.techs {
    padding: 0 1.5rem;
    margin: 30px 0;
}

.techs-title {
    font-size: 2.188rem;
    font-family: "Krona One";
    color: var(--azul-escuro);
    text-align: center;
}

.techs-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techs-text {
    font-size: 0.875rem;
    color: var(--azul-claro);
    text-align: justify;
    margin-top: 25px;
}

.techs-list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.techs-item {
    width: 75px;
}

@media screen and (min-width: 768px) {
    .techs-list {
        flex-direction: row;
        justify-content: center;
    }

    .techs-text {
        width: 75%;
    }
}

@media screen and (min-width: 1024px) {
    .techs {
        height: 500px;
    }
    .techs-title {
        font-size: 4rem;
    }

    .techs-container {
        height: 70%;
        display: flex;
    }

    .techs-content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .techs-text {
        font-size: 1.125rem;
        width: calc(50% - 48px);
        margin-top: 40px;
        border-right: 2px solid var(--azul);
        padding-right: 30px;
    }

    .techs-item {
        width: 100px;
    }
}

